* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}

body {
  font-size: 16px;
  background: lightblue;
  font-family: "Roboto";
}

a {
  color: blue;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 90%;
  margin: auto;
}

/* menu-cabecera */
.nav-main {
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 20px 0;
}

.nav-logo {
  width: 50px;
}


.nav-main ul {
  display: flex;
}

.nav-main ul li {
  padding: 10px;
}

.nav-main ul li a {
  padding: 2px;
}

.nav-main ul li a:hover {
  border-bottom: 2px solid #fff;
}

.nav-main ul.nav-menu {
  flex: 1;
  margin-left: 20px;
}

hr {
  margin: 10px 0;
}

.menu-btn {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 30px;
  z-index: 2;
  display: none;
}

/* Fin del menu cabecera*/

/*Inicio de la contactenos */
/*Configuración del button*/
.form-register {
  width: 400px;
  background: #24303c;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: 'calibri';
  color: white;
  box-shadow: 7px 13px 37px #000;
}

.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.controls {
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
}

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.form-register a {
  color: white;
  text-decoration: none;
}

.form-register a:hover {
  color: white;
  text-decoration: underline;
}

.form-register .botons {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}
/*Fin de la configuracion*/
  
  .container2 {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }

  .container2 h1{
    color: black ;
    background-color: greenyellow;
    text-align: center;
    width: 45%;
    height: 10%;
    border-radius: 100px;
  }

  .container2 form{
    display: flex;
    flex-flow: column;
    width: 28%;
    height: 75%;
    padding: 20px;
    justify-content: center;
    background-color: lightsteelblue;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 0px 50px;
    border-radius: 35px;
    align-items: center;
    transition: all 3000ms;
    margin: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  .container2 form input{
    display: flex;
    text-align: center;
    padding: 30px 35px;
    width: 80%;
    border-radius: 50px;
    margin: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }



  
 

    body background-image: ;{
        width: 10px;
        height: 10px;
        background-size: cover;
    }

    input, textarea{
         border:  none;
    resize: none;
    outline: none;
    padding: 30px 35px;
    width: 80%;
    border-radius: 20px;
    margin: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
    }

/*Fin de contactenos*/








.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
}

.footer-container ul {
  margin: 0 auto;
}

.footer-links li {
  line-height: 2.8;
}

.footer {
  background: #2f3640;
  color: #616161;
  font-size: 12px;
  padding: 20px 0;
  text-align: center;
  font-size: 1rem;
  padding-bottom: 20px;
}


@media (max-width: 700px) {
  .menu-btn {
    display: block;
  }

  .menu-btn:hover {
    opacity: 0.5;
  }

  .nav-main ul.nav-menu {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: #2f3640;
    width: 50%;
    height: 100%;
    border-right: #ccc 1px solid;
    opacity: 0.9;
    padding: 30px;
    transform: translateX(-500px);
    transition: transform 0.5s ease-in-out;
  }

  .nav-main ul.nav-menu li {
    padding: 20px;
    border-bottom: #ccc solid 1px;
    font-size: 14px;
  }
  .nav-main ul.nav-menu li:last-child {
    border-bottom: 0;
  }

  .nav-main ul.nav-menu.show {
    transform: translateX(-20px);
  }

  .nav-main ul.nav-menu-right {
    margin-right: 50px;
  }



  .footer-links .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .viacrucis {
    grid-template-columns: 1fr;
  }
}